.smar_show{display:inline}.smar_hide{display:none}.smar_sc{padding:0 10px 0 0}

.smar_clear{clear:both}/* @me thinks this is not needed here */


.smar_spacing1{padding-bottom:5px}.smar_lh30{line-height:30px}.smar_pb5{padding-bottom:5px}.smar_power{padding-top:30px!important;padding-bottom:5px!important;font-size:10px!important}.smar_status_msg{color:#c00;font-weight:700}.smar_status_msg div{color:#c00;font-weight:700;padding-bottom:15px;padding-top:15px}.best_in_place{padding:.1em!important;cursor:hand;cursor:pointer;-moz-transition:background .5s linear;-o-transition:background .5s linear;-webkit-transition:background .5s linear;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-khtml-border-radius:5px;border-radius:5px}.best_in_place:hover{padding:.2em 1.5em .4em .1em!important;background:url(red_pen.png) no-repeat right center;background-color:#CCC}.info_edit{float:right;cursor:hand;cursor:pointer}#smar_ad label{vertical-align:inherit!important}.purr{position:fixed;width:324px;top:20px;right:15px;padding:20px;background-color:#000;color:#FFF;border:2px solid #FFF}.purr:hover .close{position:absolute;top:5px;right:3px;display:block;width:25px;height:25px;text-indent:-9999px}.warning{background:#fee no-repeat 10px center;border:solid #dfbfbf;border-width:0 1px 1px;color:#333;font-weight:700;padding:10px;text-align:center}

#smar_respond_1 .sp_rating{line-height:1.7em;display:block}
#smar_respond_1 .sp_rating *{border:0 none;margin:0;padding:0}
#smar_respond_1 .base{background:url(newstars.png) 0 0 no-repeat;width:85px;height:17px;float:left;padding-right:4px;overflow:hidden;display:block}

#smar_respond_1 .average{background:url(newstars.png) 0 -16px no-repeat;text-indent:-9999px;height:17px}

.smar_pagination a, .smar_pagination .smar_current {
	padding: 0px 10px 3px;
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.05);
	font-size: 16px;
	font-weight: 400;
}
.smar_pagination_page {display:inline;}

@media screen and (max-device-width:768px) {
	.smar_pagination a, .smar_pagination .smar_current {
		padding: 20px;
		font-size: 22px;
	}
	.reviews-admin{
		float:none;
		clear:left;
	}
	.reviews-admin .smar_pagination{
		margin:30px;
	}
}